<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>Welcome to Foundation | Blog</title>

  <!-- Included CSS Files (Uncompressed) -->
  <!--
  <link rel="stylesheet" href="stylesheets/foundation.css">
  -->
  
  <!-- Included CSS Files (Compressed) -->
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/foundation.min.css")">
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/app.css")">

  <script src="@routes.Assets.at("javascripts/modernizr.foundation.js")"></script>
</head>
<body>

<!-- Header and Nav -->
  
  <div class="row">
    <div class="three columns">
      <h1><img src="@routes.Assets.at("images/FinalLogo.png")" /></h1>
    </div>
    <div class="nine columns">
      <ul class="nav-bar right">
        <li><a href="home.html">Home</a></li>
        <li><a href="semantiq.html">semantiQ</a></li>
        <li><a href="aboutus.html">About Us</a></li>
        <li><a href="contact.html">Contact Us</a></li>
      </ul>
    </div>
  </div>
  
  <!-- End Header and Nav -->


  <!-- Main Page Content and Sidebar -->

  <div class="row">

    <!-- Contact Details -->
    <div class="nine columns">
      <h3>Privacy</h3>
      <p>We have no privacy!</p>
    </div>

    <!-- End Contact Details -->


    <!-- Sidebar -->

    <div class="three columns">

      <h5>semantiQ</h5>

      <!-- Clicking this placeholder fires the mapModal Reveal modal -->
      <p>
        <a href="" data-reveal-id="mapModal"><img src="@routes.Assets.at("images/SquareLogo.png")" /></a><br />
        <center><a href="" data-reveal-id="mapModal">Bored?</a></center>
      </p>

      <p>
        &copy; Copyright semantiQ 2013-14<br />
      </p>

    </div>

    <!-- End Sidebar -->
  </div>

  <!-- End Main Content and Sidebar -->


  <!-- Footer -->

   <footer class="row">
    <div class="twelve columns">
      <hr />
      <div class="row">
        <div class="six columns">
          <p>&copy; Copyright semantiQ 2013-14</p>
        </div>
        <div class="six columns">
          <ul class="link-list right">
            <li><a href="aboutus.html">About Us</a></li> 
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="terms.html">Terms</a></li> 
			<li><a href="privacy.html">Privacy</a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>

  <!-- End Footer -->



  <!-- Map Modal -->

  <div class="reveal-modal" id="mapModal">
    <h4>Still Bored?</h4>
    <p><img src="@routes.Assets.at("images/SquareLogo.png")" /></p>

    <!-- Any anchor with this class will close the modal. This also inherits certain styles, which can be overriden. -->
    <a href="#" class="close-reveal-modal">&times;</a>
  </div>

  <!-- End Modal -->

  <!-- Included JS Files (Uncompressed) -->
  <!--
  
  <script src="javascripts/jquery.js"></script>
  
  <script src="javascripts/jquery.foundation.mediaQueryToggle.js"></script>
  
  <script src="javascripts/jquery.foundation.forms.js"></script>
  
  <script src="javascripts/jquery.event.move.js"></script>
  
  <script src="javascripts/jquery.event.swipe.js"></script>
  
  <script src="javascripts/jquery.foundation.reveal.js"></script>
  
  <script src="javascripts/jquery.foundation.orbit.js"></script>
  
  <script src="javascripts/jquery.foundation.navigation.js"></script>
  
  <script src="javascripts/jquery.foundation.buttons.js"></script>
  
  <script src="javascripts/jquery.foundation.tabs.js"></script>
  
  <script src="javascripts/jquery.foundation.tooltips.js"></script>
  
  <script src="javascripts/jquery.foundation.accordion.js"></script>
  
  <script src="javascripts/jquery.placeholder.js"></script>
  
  <script src="javascripts/jquery.foundation.alerts.js"></script>
  
  <script src="javascripts/jquery.foundation.topbar.js"></script>
  
  <script src="javascripts/jquery.foundation.joyride.js"></script>
  
  <script src="javascripts/jquery.foundation.clearing.js"></script>
  
  <script src="javascripts/jquery.foundation.magellan.js"></script>
  
  -->
  
  <!-- Included JS Files (Compressed) -->
  <script src="@routes.Assets.at("javascripts/jquery.js")"></script>
  <script src="@routes.Assets.at("javascripts/foundation.min.js")"></script>
  
  <!-- Initialize JS Plugins -->
  <script src="@routes.Assets.at("javascripts/app.js")"></script>
</body>
</html>
