@(textInputForm: Form[TextInput], urlInputForm: Form[URLInput]) 
@import helper._
<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
<meta charset="utf-8" />

<!-- Set the viewport width to device width for mobile -->
<meta name="viewport" content="width=device-width" />

<title>semantiQ</title>

<!-- Included CSS Files (Uncompressed) -->
<!--
  <link rel="stylesheet" href="stylesheets/foundation.css">
  -->
<!-- Included CSS Files (Compressed) -->
<link rel="stylesheet" href="@routes.Assets.at("./stylesheets/foundation.min.css")"/>
<link rel="stylesheet" href="@routes.Assets.at("./stylesheets/app.css")"/>

<script src="@routes.Assets.at("./javascripts/modernizr.foundation.js")"></script>

</head>
<body>
	<!-- Header and Nav -->

	<div class="row">
		<div class="three columns">
			<a href="semantiq"><h1>
					<img src="@routes.Assets.at("./images/FinalLogo.png")" />
				</h1></a>
		</div>
	</div>

	<!-- End Header and Nav -->

	<div class="row">

		<!-- Contact Details -->
		<div class="twelve columns">

			<center>
				<h3 class="claimrule">Online Journalism made effective.</h3>
			</center>
			<center>
				<h4 class="h4rule">Assess the quality and readability of your copy.</h4>
			</center>

			<br>
			<dl class="contained tabs">
				<dd class="active">
					<a href="#textForm" class="textrule">Text</a>
				</dd>
				<dd>
					<a href="#URLForm" class="textrule">URL</a>
				</dd>
				<dd>
					<a href="#UploadForm" class="textrule">File Upload</a>
				</dd>
			</dl>

			<ul class="tabs-content contained">

				<li id="textFormTab" class="active">
					<div align="right">
					 
						@form(action = routes.Application.textInput, args = 'id -> "textInputForm") {
        	
			        	@helper.input(field = textInputForm("")) { (id, name, text, args) =>
							<div>
								<textarea name="text" id="text" class="textrule" required tabindex="1" rows="15" placeholder="Enter text here..." autofocus>@text</textarea>
							</div>
							<input type="submit" tabindex="2" class="radius button textrule" onclick="$('#loading').show();">
						}
			        	
			          }

					</div>
					</li>

				<li id="URLFormTab">
					<div class="row collapse">
					
					@form(action = routes.Application.urlInput, args = 'id -> "urlInputForm") {
					
						@helper.input(field = urlInputForm("")) { (id, name, url, args) =>
							
							<div class="ten mobile-three columns">
	                  			<input name= "url" id="url" type="text" class="textrule" required placeholder="Enter url here..."/>@url
	                		</div>
					
							<div class="two mobile-one columns">
		                  		<input type="submit" class="postfix button expand textrule" onclick="$('#loading').show();"/>
		               		</div>
	               		}
	               	}
             		</div>
				</li>

				<li id="UploadFormTab">
					<div class="row collapse">
						<div class="ten columns">

							@form(action = routes.Application.uploadFile, 'enctype -> "multipart/form-data") {
								<input type="file" name="filePart" class="radius button textrule" required placeholder="browse file" >
								<input type="submit" value="Upload" class="radius button textrule" onclick="$('#loading').show();"> 
							} 
							
						</div>
				</li>
			</ul>

		</div>

		<div id="loading" style="display:none;"><center><img src="@routes.Assets.at("./images/loading.gif")" /></center></div>
		<!-- Footer -->

		<footer class="row">
			<div class="twelve columns">
				<hr />
				<div class="row">
					<div class="six columns">
						<p>&copy; Copyright semantiQ 2013-14</p>
					</div>
					<div class="six columns">
						<ul class="link-list right">
							<li class="textrule"><a href="aboutus">About Us</a></li>
							<li class="textrule"><a href="contact">Contact Us</a></li>
							<li class="textrule"><a href="terms">Terms</a></li>
							<li class="textrule"><a href="privacy">Privacy</a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>

		<!-- End Footer -->

		<!-- Included JS Files (Uncompressed) -->
		<!--
  
  <script src="javascripts/jquery.js"></script>
  
  <script src="javascripts/jquery.foundation.mediaQueryToggle.js"></script>
  
  <script src="javascripts/jquery.foundation.forms.js"></script>
  
  <script src="javascripts/jquery.event.move.js"></script>
  
  <script src="javascripts/jquery.event.swipe.js"></script>
  
  <script src="javascripts/jquery.foundation.reveal.js"></script>
  
  <script src="javascripts/jquery.foundation.orbit.js"></script>
  
  <script src="javascripts/jquery.foundation.navigation.js"></script>
  
  <script src="javascripts/jquery.foundation.buttons.js"></script>
  
  <script src="javascripts/jquery.foundation.tabs.js"></script>
  
  <script src="javascripts/jquery.foundation.tooltips.js"></script>
  
  <script src="javascripts/jquery.foundation.accordion.js"></script>
  
  <script src="javascripts/jquery.placeholder.js"></script>
  
  <script src="javascripts/jquery.foundation.alerts.js"></script>
  
  <script src="javascripts/jquery.foundation.topbar.js"></script>
  
  <script src="javascripts/jquery.foundation.joyride.js"></script>
  
  <script src="javascripts/jquery.foundation.clearing.js"></script>
  
  <script src="javascripts/jquery.foundation.magellan.js"></script>
  
  -->

		<!-- Included JS Files (Compressed) -->
		<script src="@routes.Assets.at("./javascripts/jquery.js")"></script>
		<script src="@routes.Assets.at("./javascripts/foundation.min.js")"></script>

		<!-- Initialize JS Plugins -->
		<script src="@routes.Assets.at("./javascripts/app.js")"></script>

		<script type="text/javascript">
			$(window).load(function() {
				$('#slider').orbit();
			});
		</script>
</body>
</html>
